services:
  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: frontend-app
    restart: unless-stopped
    ports:
      - '5173:3000'
    environment:
      - VITE_API_URL=http://localhost:3000
