/* "!permet" de forcer le background et la couleur car la lib met du blanc par défaut */

.custom-toast {
  font-family: var(--font-switzer) !important;
  background-color: var(--color-black) !important;
  color: var(--color-primary) !important;
  border-radius: 4px !important;
  border: 1px solid var(--color-gray) !important;
  padding: 14px 24px !important;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4) !important;
  min-width: 320px;
}

/* Succès : On peut changer le fond légèrement ou garder le noir */
.toast-success {
  border-bottom: 3px solid var(--color-primary) !important;
  background-color: var(--color-black) !important;
}

/* Erreur */
.toast-error {
  border-bottom: 3px solid var(--color-gray-2) !important;
  background-color: var(--color-black) !important;
}

/* Style pour l'icône (si tu en as) */
.custom-toast svg {
  fill: var(--color-primary) !important;
}
