.footer {
  background-color: #121212c5;
  background-image: url('../../../public/images/texture.png');
  background-repeat: repeat;
  padding: 4rem 1rem 2rem 1rem;
  text-align: center;
  color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 10;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.footer-logo {
  font-family: var(--font-family-title-bold);
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary);
  letter-spacing: 2px;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 3rem;
  padding: 0;
}

.footer-link {
  font-family: var(--font-family-title-regular);
  font-size: var(--font-size-14);
  color: var(--color-primary);
  text-decoration: none;
}

.footer-link:hover {
  opacity: 0.7;
}

.footer-divider {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-divider hr {
  width: 80%;
  border: none;
  border-top: 1px solid rgba(245, 235, 220, 0.3);
}

.footer__socials {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.footer-socials a {
  color: var(--color-primary);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.footer__socials a:hover {
  color: var(--color-secondary);
}

.footer-copyright {
  font-family: var(--font-family-text-regular);
  font-size: 0.9rem;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .footer {
    padding: 3rem 1rem;
  }

  .footer-content {
    gap: 2rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 1.2rem;
  }

  .footer-divider hr {
    width: 90%;
  }

  .footer-bottom {
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .footer-copyright {
    flex-direction: column;
    gap: 0.5rem;
  }
}
