.navbar {
  background-color: var(--color-gray);
  padding: 0.6rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition:
    transform 0.6s cubic-bezier(0.16, 1, 0.3, 1),
    opacity 0.5s ease;
}

.nav-logo {
  --font-family-title-regular: var(--font-nippo);
  --weight-title-regular: 400;
  font-size: 1.4rem;
  color: var(--color-primary);
  text-decoration: none;
  letter-spacing: 1px;
  list-style: none;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  flex: 2;
  justify-content: center;
  color: var(--color-primary);
  text-decoration: none;
  white-space: nowrap;
}

.nav-link {
  --font-family-title-regular: var(--font-nippo);
  --weight-title-regular: 400;
  font-size: var(--font-size-18);
  color: var(--color-primary);
  text-decoration: none;
}

nav .menu {
  display: none;
  position: absolute;
  gap: 5px;
  top: 0.8rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 10px;
}
@media (min-width: 1025px) {
  .navbar.nav-hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }
}
@media (max-width: 1024px) {
  .navbar.nav-hidden {
    transform: translateX(-50%) translateY(-250%);
    opacity: 0;
    pointer-events: none;
  }
  nav .menu {
    display: flex;
    cursor: pointer;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    position: fixed;
    display: flex;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    padding: 0.6rem 1.5rem;
    z-index: 1000;
  }

  nav .nav-links {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
      max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.3s ease;
  }

  .nav-logo {
    display: flex;
    align-items: left;
  }

  nav .nav-links.nav-active {
    max-height: 300px;
    opacity: 1;
    margin-top: 1rem;
  }

  nav .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  nav li {
    width: 100%;
    text-align: center;
  }
  nav .nav-link {
    padding: 0.5rem 0;
  }

  nav .nav-btn {
    display: flex;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  nav .nav-btn.nav-active {
    max-height: 100px;
    opacity: 1;
    margin: 0.5rem 0;
  }
  nav .menu span {
    transition: all 0.4s ease;
  }
}
