.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 18, 0.85); /* Fond sombre semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.modal-content {
  background-image: url(/images/texture2.webp);
  border: 3px solid #000;
  box-shadow: 12px 12px 0px #000; /* L'ombre signature */
  padding: 2.5rem;
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.modal-icon {
  font-family: var(--font-nippo);
  font-size: 3rem;
  color: #ff4757; /* Rouge alerte */
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1;
}

.modal-title {
  font-family: var(--font-nippo);
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0;
  color: #000;
}

.modal-message {
  font-family: var(--font-switzer);
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

.modal-actions {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

/* Bouton Annuler */
.btn-modal-cancel {
  padding: 1rem 1.5rem;
  font-family: var(--font-nippo);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #000;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.2s ease;
}

.btn-modal-cancel:hover {
  background: #e0e0e0;
}

/* Bouton Confirmer (Rouge Brutal) */
.btn-modal-confirm {
  padding: 1rem 1.5rem;
  font-family: var(--font-nippo);
  text-transform: uppercase;
  background: var(--color-gray);
  color: var(--color-primary);
  border: 2px solid #000;
  cursor: pointer;
  font-size: 0.9rem;
  box-shadow: 4px 4px 0px #000;
  transition: all 0.2s ease;
}

.btn-modal-confirm:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #000;
}
