/* --- Base Néo-Brutaliste pour TOUS les boutons --- */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1.5rem;
  min-width: 10rem;
  border: 2px solid #000 !important;
  font-family: var(--font-nippo);
  font-size: var(--font-size-18);
  text-transform: uppercase;
  background-color: var(--color-primary) !important;
  color: var(--color-black) !important;
  box-shadow: 3px 3px 0px var(--color-black) !important;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}

/* Version Noire (Inversion des couleurs) */
.btn-black {
  background-color: #000 !important;
  color: var(--color-primary) !important;
  border: 2px solid var(--color-black) !important;
  box-shadow: 3px 3px 0px var(--color-primary) !important;
}

/* --- États --- */

/* Hover : Le petit saut et l'ombre qui grandit */
.btn:hover:not(:disabled) {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0px var(--color-primary) !important;
}

.btn-black:hover:not(:disabled) {
  box-shadow: 6px 6px 0px var(--color-primary) !important;
}

/* Active : L'effet d'enfoncement */
.btn:active:not(:disabled) {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px #000 !important;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  filter: grayscale(1);
}
